<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- nav and heading part-->
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buyer">Buyer</a>
        </li>
      </ul>
    </nav>
  </div>
  <section id="heading_admin">
    <div class="container">
      <h1 style="text-align: center;color:rgb(40, 184, 40);font-size: 100px;">
        <%= title %>
      </h1>
      <p style="text-align: center">Welcome to
        <%= title %>
      </p>
    </div>
  </section>
  <!--End of nav and heading part-->

  <!--begining of the body -->

  <!--add admin part-->
  <section id="admin">
    <div class="form-modal">
      <div class="form-togglen">
        <button id="admin-toggle">Add Admin</button>
      </div>
      <div id="admin-form">
        <form id="ad-form" action="setAdmin" method="POST">
          <!---Add Owner Address-->
          <table>
            <tr>
              <td>Select Contract deployer Address</td>
              <td>
                <select name="addressList" id="addressList">
                  <% for(let i = 0; i < data1.length; i++) { %>
                  <option value="<%= data1[i]%>">
                    <%= data1[i]%>
                  </option>
                  <% } %>
                </select>
              </td>
            </tr>
            <!---Add Admin address-->
            <tr>
              <td>Add Admin Address</td>
              <td>
                <select name="admin" id="adminAddress">
                  <% for(let i = 0; i < data1.length; i++) { %>
                  <option value="<%= data1[i]%>">
                    <%= data1[i]%>
                  </option>
                  <% } %>
                </select>
              </td>
            </tr>
            <!--adding village-->
          </table>
          <center>
            <input type="text" class="col-sm-6" id="village" name="village" placeholder="Enter The village " data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$" data-validation-error-msg="You did not enter the village name properly!!" required><br>
          </center>
          <center>
            <button type="button" onClick="adminAdd(event)" class="btn col-sm-3"  style="background:#33cc99 ;">Submit</button>
          </center>
        </form>
      </div>
    </div>
  </section>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
  <script>//valiation item name
    $.validate({
      modules: 'html5'
    });
  </script>
  <script>    //validation private key
    $.validate({
      validateOnBlur: false, // disable validation when input looses focus
      errorMessagePosition: 'top', // Instead of 'inline' which is default
      scrollToTopOnError: false // Set this property to true on longer forms
    });
  </script>
  <!--end of add admin part-->

  <!-------------generate propertyID------------------>
  <div class="form-modalID">
    <div class="form-toggle">
      <button id="id-toggle" onclick="toggleId()">Generate Property Id</button>
      <button id="add-toggle" onclick="toggleAdd()">Add Land Details</button>
    </div>
    <div id="generateId">
      <form id="genIdform">
        <center>
          <table>
            <tr>
              <td><input text="text" data-validation="required" name="state" id="state1" placeholder="Enter the state"
                  data-validation-regexp="^([a-zA-Z]+)$"></td>
              <td><input text="text" name="district" id="district1" placeholder="Enter the district"
                  data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$" required></td>
            <tr>
            <tr>
              <td><input text="text" name="village" id="village1" placeholder="Enter the village"
                  data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$" required></td>
              <td><input text="text" name="surveyNo" id="surveyNo1" placeholder="Enter the surveynumber"
                  data-validation="custom" data-validation-regexp="^([0-9]*)$" required></td>
          </table>
        </center>
        <center>
          <button class="btn col-sm-3" style="background:#33cc99 ;" type="submit" onClick="getValue(event)"> Submit
          </button>
        </center>
        <table>
          <tr>
            <td><span id="created"></span></td>
        </table>
      </form>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script>//valiation item name
      $.validate({
        modules: 'html5'
      });
    </script>
    <script>    //validation private key
      $.validate({
        validateOnBlur: false, // disable validation when input looses focus
        errorMessagePosition: 'bottom', // Instead of 'inline' which is default
        scrollToTopOnError: false // Set this property to true on longer forms
      });
    </script>

    <!--End of property id generation-->

    <!--------------Add Land Details------->

    <div id="addLand">
      <form id="addlandform" action="setLand" method="POST">
        <table>
          <tr>
            <td>Select admin address :
              <select name="addressList1" id="addressList1">
                <% for(let i = 0; i < data1.length; i++) { %>
                <option value="<%= data1[i]%>">
                  <%= data1[i]%>
                </option>
                <% } %>
              </select>
            </td>
            <td>Select land owner address
              <select name="OwnerAddress" id="aOwnerAddress" placeholder="Enter owner address">
                <% for(let i = 0; i < data1.length; i++) { %>
                <option value="<%= data1[i]%>">
                  <%= data1[i]%>
                </option>
                <% } %>
              </select>
            </td>
          <tr>
          <tr>
            <td><input type="text" id="state" name="state" placeholder="Enter The State" data-validation="custom"
                data-validation-regexp="^([a-zA-Z]+)$" required></td>
            <td><input type="text" id="district" name="district" placeholder="Enter Your District "
                data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$" required></td>
          </tr>
          <tr>
            <td><input type="text" id="village2" name="village" placeholder="Enter The village" data-validation="custom"
                data-validation-regexp="^([a-zA-Z]+)$" required></td>
            <td><input type="text" id="surveyNumber" name="surveyNumber" placeholder="Enter Your SurvayNumber"
                data-validation="custom" data-validation-regexp="^([0-9]*)$" required></td>
          </tr>
          <tr>
            <td><input type="text" id="value1" name="value" placeholder="Enter The value" data-validation="custom"
                data-validation-regexp="^([0-9]*)$" required></td>
            <td><input type="text" id="id1" name="id" placeholder="Enter the land id" data-validation="custom"
                data-validation-regexp="^([0-9]*)$" required></td>
          </tr>
        </table>
        <center>
          <button type="button" onClick="setLand(event)" class="btn col-sm-3"
            style="background:#33cc99 ;">submit</button>
        </center>
      </form>
    </div>
  </div>

  <!--End of the add Land-->

  <!--------View Land Details-------->

  <div class="form-modal">
    <div class="form-togglen">
      <button id="admin-toggle">View Land Details</button>
    </div>
    <div id="admin-form">
      <form action="getLand" method="GET">
        <table>
          <tr>
            <td>Select Admin Address</td>
            <td>
              <select name="addressList2" id="addressList2">
                <% for(let i = 0; i < data1.length; i++) { %>
                <option value="<%= data1[i]%>">
                  <%= data1[i]%>
                </option>
                <% } %>
              </select>
            </td>
          </tr>
          <tr>
            <td><input number="number" name="id" id="id" placeholder="Enter the Land id" data-validation="custom"
                data-validation-regexp="^([0-9]*)$" data-validation-error-msg="You did not enter the landid  properly!!"
                required></td>
            <td><input type="text" name="village1" id="village1" placeholder="Enter the village"
                data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$"
                data-validation-error-msg="You did not enter the village name properly!!" required></td>
          </tr>
        </table>
        <center>
          <button type="submit" class="btn col-sm-3" style="background:#33cc99 ;" value="submit"
            href="/getLand">submit</button>
        </center>
      </form>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
      <script>//valiation item name
        $.validate({
          modules: 'html5'
        });
      </script>
      <script>    //validation private key
        $.validate({
          validateOnBlur: false, // disable validation when input looses focus
          errorMessagePosition: 'top', // Instead of 'inline' which is default
          scrollToTopOnError: false // Set this property to true on longer forms
        });
      </script>
    </div>
  </div>
</body>
<!-- function to add admin -->
<script>
    function adminAdd(event){
      event.preventDefault();
      let addressList=document.getElementById('addressList').value;
      let admin=document.getElementById('adminAddress').value;
      let village=document .getElementById('village').value;
      console.log("addressList",addressList);
      console.log("admin",admin);
      console.log("village",village);
      if(village.length=='')
      {
        alert("please check the village!!");
      }
      else if(!village.match(/^[a-zA-Z]+$/))
      {
        alert("please check the village entered!!");
      }
      else{
      $.post('/setAdmin',{addressList,admin,village}, (data)=>{
        console.log(data.txn);
        alert("Admin is Added!!");
        document.getElementById('ad-form').reset();
      })
      }
    }
  </script>

<!-----function to view created id in same page-->

<script>
  function getValue(event) {
    event.preventDefault();
    let state = document.getElementById('state1').value;
    let district = document.getElementById('district1').value;
    let village = document.getElementById('village1').value;
    let surveyNo = document.getElementById('surveyNo1').value;
    if (state.length == '' || district.length == '' || village.length == '' || surveyNo.length === 0) {
      alert("Please provide the details correctly!!")
    }
    else if (!state.match(/^[a-zA-Z]+$/)) {
      alert("please check the state entered!!")
    }
    else if (!district.match(/^[a-zA-Z]+$/)) {
      alert("please check the District entered!!")
    }
    else if (!village.match(/^[a-zA-Z]+$/)) {
      alert("please check the village entered!!")
    }
    else if (!surveyNo.match(/^[0-9]*$/)) {
      alert("please check the survey Number entered!!")
    }
    else {
      $.post('/propertyIdGeneration', { state, district, village, surveyNo }, (data) => {
        console.log(data.txn)
        document.getElementById('created').innerHTML = data.txn;
      });
    }
  }
</script>

<!-- function to validate the regitration form -->

<script>
  function setLand(event) {
    event.preventDefault();
    let state = document.getElementById('state').value;
    let district = document.getElementById('district').value;
    let village = document.getElementById('village2').value;
    let surveyNumber = document.getElementById('surveyNumber').value;
    let value = document.getElementById('value1').value;
    let id = document.getElementById('id1').value;
    let OwnerAddress = document.getElementById('aOwnerAddress').value;
    let addressList1 = document.getElementById('addressList1').value;
    console.log("state", state);
    console.log("district", district);
    if (state.length == '' || district.length == '' || village.length == '' || surveyNumber.length == '' || value.length == '' || id.length == '') {
      alert("Please provide the details correctly!!");
    }
    else if (!state.match(/^[a-zA-Z]+$/)) {
      alert("please check the state entered!!");
    }
    else if (!district.match(/^[a-zA-Z]+$/)) {
      alert("please check the District entered!!");
    }
    else if (!village.match(/^[a-zA-Z]+$/)) {
      alert("please check the village entered!!");
    }
    else if (!surveyNumber.match(/^[0-9]*$/)) {
      alert("please check the survey Number entered!!");
    }
    else if (!value.match(/^[0-9]*$/)) {
      alert("please check the value entered!!");
    }
    else if (!id.match(/^[0-9]*$/)) {
      alert("please check the id entered!!");
    }
    else {
      $.post('/setLand', { state, district, village, surveyNumber, value, OwnerAddress, id, addressList1 }, (data) => {
        console.log(data.txn);

        alert("land Registered!!")
        document.getElementById('addlandform').reset();
      })
    }
  }
</script>

<script>
  function toggleAdd() {
    document.getElementById('genIdform').reset();
    document.getElementById("id-toggle").style.backgroundColor = "#fff";
    document.getElementById("id-toggle").style.color = "#222";
    document.getElementById("add-toggle").style.backgroundColor = "#33cc99";
    document.getElementById("add-toggle").style.color = "#fff";
    document.getElementById("generateId").style.display = "none";
    document.getElementById("addLand").style.display = "block";
  }
  function toggleId() {
    document.getElementById('addlandform').reset();
    document.getElementById("id-toggle").style.backgroundColor = "#33cc99";
    document.getElementById("id-toggle").style.color = "#fff";
    document.getElementById("add-toggle").style.backgroundColor = "#fff";
    document.getElementById("add-toggle").style.color = "#222";
    document.getElementById("addLand").style.display = "none";
    document.getElementById("generateId").style.display = "block";
  }

</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<!-- <script src="../routes/setAdmin.js"></script> -->
</html>