<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- nav and heading part-->
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Buyer</a>
        </li>
      </ul>
    </nav>
  </div>
  <section id="heading_admin">
    <div class="container">
      <h1 style="text-align: center;color:rgb(40, 184, 40);font-size: 100px;">
        <%= title %>
      </h1>
      <p style="text-align: center">Welcome to
        <%= title %>
      </p>
    </div>
  </section>
  <!--End of nav and heading part-->

  <!--generate propertyid and view details for the buyer-->

  <!-------------generate propertyID------------------>
  <div class="form-modal">
    <div class="form-togglen">
      <button id="admin-toggle">Generate Id</button>
    </div>
    <div id="admin-form">
      <form id="ad-form">
        <center>
          <table>
            <tr>
              <td><input text="text" name="state" id="state1" placeholder="Enter the state" data-validation="custom"
                  data-validation-regexp="^([a-zA-Z]+)$" required></td>
              <td><input text="text" name="district" id="district1" placeholder="Enter the district"
                  data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$" required></td>
            <tr>
            <tr>
              <td><input text="text" name="village" id="village1" placeholder="Enter the village"
                  data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$" required></td>
              <td><input text="text" name="surveyNo" id="surveyNo1" placeholder="Enter the surveynumber"
                  data-validation="custom" data-validation-regexp="^([0-9]*)$" required></td>
          </table>
        </center>
        <center>
          <button class="btn col-sm-3" style="background:#33cc99 ;" type="submit" onClick="getValue(event)"> Submit
          </button>
        </center>
        <table>
          <tr>
            <td><span id="createdid"></span></td>
        </table>
      </form>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
      <script>//valiation item name
        $.validate({
          modules: 'html5'
        });
      </script>
      <script>    //validation private key
        $.validate({
          validateOnBlur: false, // disable validation when input looses focus
          errorMessagePosition: 'top', // Instead of 'inline' which is default
          scrollToTopOnError: false // Set this property to true on longer forms
        });
      </script>
    </div>
  </div>



  <!--End of property id generation-->
  <div class="form-modal">
    <div class="form-togglen">
      <button id="admin-toggle">View Details</button>
    </div>
    <!-- <div id="addLand"> -->
    <div id="admin-form">
      <form id="ad-form" action="viewDetailsBuyer" method="GET">
        <center>
          <table>
            <tr>
              <td><input text="text" name="id" id="id" placeholder="Enter the land id" data-validation="custom"
                  data-validation-regexp="^([0-9]*)$"
                  data-validation-error-msg="You did not enter the land Id  properly!!" required></td>
            </tr>
          </table>
          <button type="submit" class="btn col-sm-3" style="background:#33cc99 ;" value="submit"
            href="/viewDetailsBuyer"> Submit </button>
        </center>
      </form>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
      <script>//valiation item name
        $.validate({
          modules: 'html5'
        });
      </script>
      <script>    //validation private key
        $.validate({
          validateOnBlur: false, // disable validation when input looses focus
          errorMessagePosition: 'top', // Instead of 'inline' which is default
          scrollToTopOnError: false // Set this property to true on longer forms
        });
      </script>
    </div>
  </div>

  <!--End view details for the buyer-->

  <!--end of generate propertyid and view details for the buyer-->
</body>

<!-----function to view created id in same page-->

<script>
  function getValue(event) {
    event.preventDefault();
    let state = document.getElementById('state1').value;
    let district = document.getElementById('district1').value;
    let village = document.getElementById('village1').value;
    let surveyNo = document.getElementById('surveyNo1').value;
    if (state.length == '' || district.length == '' || village.length == '' || surveyNo.length === 0) {
      alert("Please provide the details correctly!!")
    }
    else if (!state.match(/^[a-zA-Z]+$/)) {
      alert("please check the state entered!!")
    }
    else if (!district.match(/^[a-zA-Z]+$/)) {
      alert("please check the District entered!!")
    }
    else if (!village.match(/^[a-zA-Z]+$/)) {
      alert("please check the village entered!!")
    }
    else if (!surveyNo.match(/^[0-9]*$/)) {
      alert("please check the survey Number entered!!")
    }
    else {
      $.post('/propertyIdGeneration', { state, district, village, surveyNo }, (data) => {
        console.log(data.txn)
        document.getElementById('createdid').innerHTML = data.txn;
      });
    }
  }
</script>
</html>