<!DOCTYPE html>
<html>
<!--View detail of land to buy-->

<head>
  <title>viewLand</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- nav and heading part-->
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buyer">Buyer</a>
        </li>
      </ul>
    </nav>
  </div>
  <section id="heading_admin">
    <div class="container">
      <h1 style="text-align: center;color:rgb(40, 184, 40);font-size: 100px;">
        <%= title %>
      </h1>
      <p style="text-align: center">Welcome to
        <%= title %>
      </p>
    </div>
  </section>
  <!--End of nav and heading part-->

  <!--view the details of property by admin-->

  <div id="form-modalview">
    <div class="form-togglen">
      <button id="admin-toggle">Property Details</button>
    </div>
    <div id="admin-form">
      <form id="viewform">
        <center>
          <table id="viewData">
            <tr>
              <td>State</td>
              <td><%= result._state%></td>
            </tr>
            <tr>
              <td>District</td>
              <td><%= result._district%></td>
            </tr>
            <tr>
              <td>Village</td>
              <td><%= result._village1%></td>
            </tr>
            <tr>
              <td>surveyNumber</td>
              <td><%= result._surveyNo%></td>
            </tr>
            <tr>
              <td>Market Value</td>
              <td><%= result._value%></td>
            </tr>
            <tr>
              <td>CurrentOwner</td>
              <td><%= result._currentOwner%></td>
            </tr>
            <tr>
              <td>Land Id</td>
              <td><%=result._id%></td>
            </tr>
          </table>
        </center>
      </form>
    </div>
  </div>
</body>

</html>