<!DOCTYPE html>
<html>
<!--View detail of land to buy-->

<head>
  <title>viewLand</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- nav and heading part-->
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buyer">Buyer</a>
        </li>
      </ul>
    </nav>
  </div>
  <section id="heading_admin">
    <div class="container">
      <h1 style="text-align: center;color:rgb(40, 184, 40);font-size: 100px;">
        <%= title %>
      </h1>
      <p style="text-align: center">Welcome to
        <%= title %>
      </p>
    </div>
  </section>
  <!--End of nav and heading part-->

  <!--View details to make available to sale and availability status-->

  <!-- if staus initial -->
  <%if(result[6]== 0 || result[6]==2 ){ %>
  <div id="form-modalview">
    <div class="form-togglen">
      <button id="admin-toggle">Property Details</button>
    </div>
    <div id="admin-form">
      <form id="viewform" method=POST action="makeAvail">
        <center>
          <table id="viewData">
            <tr>
              <td>surveyNumber</td>
              <td><%= result._surveyNo%></td>
            </tr>
            <tr>
              <td>Availability</td>
              <td>
                <% if(result._Available == true) { %>
                Available
                <% }else { %>
                Not Available
                <% } %>
              </td>
            </tr>
            <tr>
              <td>Current Owner</td>
              <td> <input type="text" name="AddressList" id="AddressList" value="<%= result[2]%>"></td>
            </tr>
            <tr>
              <td>Property Id </td>
              <td><input type="text" name="property" id="property" value="<%= result[5]%>"></td>
            </tr>
          </table>
        </center>
        <% if(result._Available == false) { %>
        <center><br><br>
          <!-- <button type="submit" class="btn col-sm-3" style="background:#33cc99 ;" value="submit" href="/makeAvail">Make
            Available </button> -->
            <button type="button" onClick="makeavail(event)" class="btn col-sm-3" style="background:#33cc99 ;" value="submit">Make
              Available </button>
          <% } else {%>
          Land is available for sale
          <% } %>
        </center>
      </form>
    </div>
  </div>
  <% } %>

  <!-- if staus approved  -->

  <%if(result[6]== 3) { %>
  <div id="form-modalview">
    <div class="form-togglen">
      <button id="admin-toggle">Property Details</button>
    </div>
    <div id="admin-form">
      <form id="viewform" method=POST action="makeAvail">
        <center>
          <table id="viewData">
            <tr>
              <td>surveyNumber</td>
              <td><%= result._surveyNo%></td>
            </tr>
            <tr>
              <td>Availability</td>
              <td>
                <% if(result._Available == true) { %>
                Available
                <% }else { %>
                Not Available
                <% } %>
              </td>
            </tr>
            <tr>
              <td>Current Owner</td>
              <td> <input type="text" name="AddressList" id="AddressList" value="<%= result[2]%>"></td>
            </tr>
            <tr>
              <td>Property Id </td>
              <td><input type="text" name="property" id="property" value="<%= result[5]%>"></td>
            </tr>
          </table>
        </center>
        <% if(result._Available == false) { %>
        Land is Undergoing in sale process!!
        <% } %>
        </center>
      </form>
    </div>
  </div>
  <% } %>

  <!--View page to accept or reject land if made availible-->

  <% if(result[6] == 1) { %>
  <div id="form-modalview">
    <div class="form-togglen">
      <button id="admin-toggle">Property Details</button>
    </div>
    <div id="admin-form">
      <form id="viewform" method="POST" action="accept">
        <center>
          <table id="viewData">
            <tr>
              <td>surveyNumber</td>
              <td><%= result._surveyNo%></td>
            </tr>
            <tr>
              <td>Requester Id</td>
              <td><%= result._requester%></td>
            </tr>
            <tr>
              <td>Requested Land Value</td>
              <td><%= result._proposedValue%></td>
            </tr>
            <tr>
              <td>Request Status</td>
              <td>Pending</td>
            </tr>
            <tr>
              <td>Property Id</td>
              <td><input type="text" name="property" id="property" value="<%= result[5]%>"></td>
            </tr>
            <tr>
              <td>Current Owner</td>
              <td> <input type="text" name="AddressList" id="AddressList" value="<%= result[2]%>"></td>
            </tr>
          </table>
        </center>
        <center><br><br>
          <button type="button" onClick="accept(event)" class="btn col-sm-3" style="background:#33cc99 ;" name="status" id="statusA"
            >Accept</button>&nbsp;&nbsp;
          <button type="button" onClick="reject(event)" class="btn col-sm-3" style="background:#33cc99 ;" name="status" id="statusR"
           >Reject</button>
        </center>
      </form>
    </div>
  </div>
  <% } %>
</body>
<script>
  function makeavail(event){
    event.preventDefault();
    let AddressList=document.getElementById('AddressList').value;
    let property=document.getElementById('property').value;
    $.post('/makeAvail',{AddressList,property}, (data)=>{
      console.log(data.txn);
      alert("your Land is made available for sale!!");
      location.reload();
    })
  }
</script>

<script>
  function accept(event){
event.preventDefault();
let status="3";
let property=document.getElementById('property').value;
let AddressList=document.getElementById('AddressList').value;
$.post('/accept',{status,property,AddressList}, (data)=>{
  console.log(data.txn);
  alert("OFFER ACCEPTED!!");
  location.reload();
})
  }
</script>

<script>
  function reject(event){
    event.preventDefault();
let status="2";
let property=document.getElementById('property').value;
let AddressList=document.getElementById('AddressList').value;
$.post('/accept',{status,property,AddressList}, (data)=>{
  console.log(data.txn);
  alert("OFFER Rejected!!");
  location.reload();
})
  }
  </script>
</html>
