<!DOCTYPE html>
<html>
<!--index page-->

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-------------------------Navigation Bar-------------------------------->
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buyer">Buyer</a>
        </li>
      </ul>
    </nav>
  </div>

  <!----------------------Heading------------------------>

  <section id="heading_frontend">
    <div class="container">
      <h1 style="text-align: center;color:rgb(40, 184, 40);font-size: 120px;">
        <%= title %>
      </h1>
      <p style="text-align: center">Welcome to
        <%= title %>
      </p>
    </div>
  </section>

  <!--button to directly go the user registreation page-->

  <section id="button">
    <div class="container">
      <center>
        <button id="btn" type="button" onclick="window.location.href = '/admin';" class="btn btn-success"
          data-toggle="tooltip" title="Lets Register!">CLICK HERE TO REGISTER</button>
      </center>
    </div>
  </section>
</body>

</html>