<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<!DOCTYPE html>
<html>
<!--user page-->

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- nav and heading part-->
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buyer">Buyer</a>
        </li>
      </ul>
    </nav>
  </div>
  <section id="heading_admin">
    <div class="container">
      <h1 style="text-align: center;color:rgb(40, 184, 40);font-size: 100px;">
        <%= title %>
      </h1>
      <p style="text-align: center">Welcome to
        <%= title %>
      </p>
    </div>
  </section>
  <!--End of nav and heading part-->

  <!-------------generate propertyID------------------>
  <div class="form-modal">
    <div class="form-togglen">
      <button id="admin-toggle">Generate Id</button>
    </div>
    <div id="admin-form">
      <form id="ad-form">
        <center>
          <table>
            <tr>
              <td><input text="text" name="state" id="state1" placeholder="Enter the state" data-validation="custom"
                  data-validation-regexp="^([a-zA-Z]+)$" required></td>
              <td><input text="text" name="district" id="district1" placeholder="Enter the district"
                  data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$" required></td>
            <tr>
            <tr>
              <td><input text="text" name="village" id="village1" placeholder="Enter the village"
                  data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$" required></td>
              <td><input text="text" name="surveyNo" id="surveyNo1" placeholder="Enter the surveynumber"
                  data-validation="custom" data-validation-regexp="^([0-9]*)$" required></td>
          </table>
        </center>
        <center>
          <button class="btn col-sm-3" style="background:#33cc99 ;" type="submit" onClick="getValues(event)"> Submit
          </button>
        </center>
        <table>
          <tr>
            <td><span id="createdid"></span></td>
        </table>
      </form>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
      <script>//valiation item name
        $.validate({
          modules: 'html5'
        });
      </script>

      <script>    //validation private key
        $.validate({
          validateOnBlur: false, // disable validation when input looses focus
          errorMessagePosition: 'top', // Instead of 'inline' which is default
          scrollToTopOnError: false // Set this property to true on longer forms
        });
      </script>
    </div>
  </div>

  <!--End of property id generation-->

  <!--will show assets of the function caller -->

  <!--view asset-->
  <div class="form-modal">
    <div class="form-togglen">
      <button id="admin-toggle">View Land Assets</button>
    </div>
    <div id="admin-form">
      <form id="assetForm"> 
        <center>
          <table>
            <tr>
              <td>
                <select name="accountAddress" id="accountAddress">
                  <% for(let i = 0; i < data.length; i++) { %>
                  <option value="<%= data[i]%>">
                    <%= data[i]%>
                  </option>
                  <% } %>
                </select>
              </td>
            </tr>
          </table>
        </center>
        <center>
          <button type="submit" class="btn col-sm-3" style="background:#33cc99 ;" onClick="getValue(event)"
            value="submit"> View assets </button>
        </center>
        <span id="created"></span>
      </form>
    </div>
  </div>

  <!--end of view ASSET-->

  <!--function to view the details of property by current owner-->

  <div class="form-modal">
    <div class="form-togglen">
      <button id="admin-toggle">View complete Land Details</button>
    </div>
    <div id="admin-form">
      <form action="getLand1" method="GET">
        <center>
          <table>
            <tr>
              <td>
                <select name="addressList" id="addressList">
                  <% for(let i = 0; i < data.length; i++) { %>
                  <option value="<%= data[i]%>">
                    <%= data[i]%>
                  </option>
                  <% } %>
                </select>
              </td>
            </tr>
            <tr>
              <td><input text="text" name="lid" id="lid" placeholder="Enter the land id" data-validation="custom"
                  data-validation-regexp="^([0-9]*)$"
                  data-validation-error-msg="You did not enter the land id  properly!!" required></td>
            </tr>
          </table>
        </center>
        <center>
          <button type="submit" class="btn col-sm-3" style="background:#33cc99 ;" value="submit" href="/getLand1"> View
            details </button>
        </center>
      </form>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
      <script>//valiation item name
        $.validate({
          modules: 'html5'
        });
      </script>
      <script>    //validation private key
        $.validate({
          validateOnBlur: false, // disable validation when input looses focus
          errorMessagePosition: 'top', // Instead of 'inline' which is default
          scrollToTopOnError: false // Set this property to true on longer forms
        });
      </script>
    </div>
  </div>
</body>
<!--End of complete land data view-->

<!--script to view assets in same page  -->
<script>
  function getValue(event) {
    event.preventDefault();
    
    $.post('/assets', {
      accountAddress: document.getElementById('accountAddress').value
    }, (data) => {
      let msg = "";
      for (var i = 0; i < data.txn.length; ++i) {
        msg += data.txn[i] + " ";
      }
      document.getElementById('created').innerHTML = msg;
    });
 
  }
</script>

<!-----function to view created id in same page-->

<script>
  function getValues(event) {
    event.preventDefault();
    let state = document.getElementById('state1').value;
    let district = document.getElementById('district1').value;
    let village = document.getElementById('village1').value;
    let surveyNo = document.getElementById('surveyNo1').value;
    if (state.length == '' || district.length == '' || village.length == '' || surveyNo.length === 0) {
      alert("Please provide the details correctly!!")
    }
    else if (!state.match(/^[a-zA-Z]+$/)) {
      alert("please check the state entered!!")
    }
    else if (!district.match(/^[a-zA-Z]+$/)) {
      alert("please check the District entered!!")
    }
    else if (!village.match(/^[a-zA-Z]+$/)) {
      alert("please check the village entered!!")
    }
    else if (!surveyNo.match(/^[0-9]*$/)) {
      alert("please check the survey Number entered!!")
    }
    else {
      $.post('/propertyIdGeneration', { state, district, village, surveyNo }, (data) => {
        console.log(data.txn)
        document.getElementById('createdid').innerHTML = data.txn;
      });
    }
  }
</script>

<!-- form add detail validations -->
<script>
  function setLand(event) {
    event.preventDefault();
    let state = document.getElementById('state').value;
    let district = document.getElementById('district').value;
    let village = document.getElementById('village').value;
    let surveyNumber = document.getElementById('surveyNumber').value;
    let value = document.getElementById('value').value;
    let id = document.getElementById('id').value;
    let OwnerAddress = document.getElementById('aOwnerAddress').value;
    let addressList1 = document.getElementById('addressList1').value;
    console.log("state", state);
    console.log("district", district);
    if (state.length == '' || district.length == '' || village.length == '' || surveyNumber.length == '' || value.length == '' || id.length == '') {
      alert("Please provide the details correctly!!");
    }
    else if (!state.match(/^[a-zA-Z]+$/)) {
      alert("please check the state entered!!");
    }
    else if (!district.match(/^[a-zA-Z]+$/)) {
      alert("please check the District entered!!");
    }
    else if (!village.match(/^[a-zA-Z]+$/)) {
      alert("please check the village entered!!");
    }
    else if (!surveyNumber.match(/^[0-9]*$/)) {
      alert("please check the survey Number entered!!");
    }
    else if (!value.match(/^[0-9]*$/)) {
      alert("please check the value entered!!");
    }
    else if (!id.match(/^[0-9]*$/)) {
      alert("please check the id entered!!");
    }
    else {
      $.post('/setLand', { state, district, village, surveyNumber, value, OwnerAddress, id, addressList1 }, (data) => {
        console.log(data.txn);
        alert("Data is send for registration")
        document.getElementById('addlandform').reset();
      })
    }
  }      
</script>
</html>