<!DOCTYPE html>
<html>
<!--View detail of land to buy-->
<head>
  <title>viewLand</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <!-- nav and heading part-->
 <div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/buyer">Buyer</a>
      </li>
    </ul>
  </nav>
</div>
<section id="heading_admin">
<div class="container">
  <h1 style="text-align: center;color:rgb(40, 184, 40);font-size: 100px;">
    <%= title %>
  </h1>
  <p style="text-align: center">Welcome to
    <%= title %>
  </p>
</div>
</section>
<!--End of nav and heading part-->



  <!--function to view details for buyer-->

  <div id="form-modalview">
      <div class="form-togglen">
          <button id="admin-toggle">Property Details</button>
       </div>
       <div id="admin-form">
<form id="viewform">

    
        <table id="viewData">
          
        <tr>
              <th>Current Owner</th>
              <td><%= result[0] %></td>
        </tr>
        <tr>
              <th>Current Land Price</th>
              <td><%= result[1] %></td>
        </tr>
        <tr>
              <th>Availability</th>
              <td><%= result[2] %></td>
        </tr>
        <tr>
              <th>Last Requester</th>
              <td><%= result[3] %></td>
        </tr>
        <tr>
              <th>Proposed Value</th>
              <td><%= result[4] %></td>
        </tr>
            <tr></tr>
            <th>Request Status</th>
            <td>
              <% if(result[5] == 3) { %>
              Approved
              <% } else if(result[5] == 1) { %>
              Pending
              <% } else if(result[5] == 2) { %>
              Rejected
              <% } else { %>
              Default
              <% } %>
            </td>
            </tr>
         
        </table>
       
      </form>
</div>
  </div>
  <!--function to sending request to land owner -->

  <% if(result[2]== 1 ){ %>
   <form action="/requestToLandOwner" method="POST">
    <table id="viewData">
        <tr><td>Select the buyers Address</td>
          <td><select name="AddressList" id="AddressList">
            <% for(let i = 0; i < data.length; i++) { %>
              <option value="<%= data[i]%>">
                <%= data[i]%>
              </option>
              <% } %>
          </select>
        </td>
        </tr>
        <tr>
          <td>Land id:</td>
          <td><input type='text' id='land_id' name="land_id" value="<%= result[6] %>"></td>
        </tr>
        <tr><td>Propose Value:</td>
          <td><input type="number" id="value" name="value" placeholder="Proposed value" data-validation="custom" data-validation-regexp="^([0-9]*)$" data-validation-error-msg="You did not enter the value  properly!!" required></tr></td>
          
          
      </table>
          <button type="button" onClick="sendReq(event)" class="btn col-sm-3" style="background:#33cc99 ;" >Sent Request</button>
       </form>
       <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
       <script>//valiation item name
         $.validate({
           modules: 'html5'
         });
       </script>
       <script>    //validation private key
         $.validate({
           validateOnBlur: false, // disable validation when input looses focus
           errorMessagePosition: 'top', // Instead of 'inline' which is default
           scrollToTopOnError: false // Set this property to true on longer forms
         });
       </script>

  <!--function to buy the approved property-->

  <% } else if(result[5]== 3) { %>

      <form action="/buyProperty" method="POST">
        <table id="viewData">
            <tr><td>Select the buyers Address</td>
              <td><select name="AddressList" id="AddressList">
                <% for(let i = 0; i < data.length; i++) { %>
                  <option value="<%= data[i]%>">
                    <%= data[i]%>
                  </option>
                  <% } %>
              </select>
            </td>
            </tr>
            <tr>
                <td>Land id:</td>
                <td><input type='text' id='landid' name="landid" value="<%= result[6] %>" readonly="readonly"></td>
          </tr>
            <tr><td>Proposed Value:</td>
              <td><input type="text" id="value1" name="value1" value="<%= result[4] %>" readonly="readonly"></td>
          
        </tr>
      </table><br><br>
          <!-- <button type="button" onClick="buy(event)" class="btn col-sm-3" style="background:#33cc99 ;" >Buy</button> -->
          <input type="submit" class="btn col-sm-3" style="background:#33cc99 ;" value="Buy">
        </form>
   
  <% } %>
</body>
<script>
  function sendReq(event){
    event.preventDefault();
    let land_id=document.getElementById('land_id').value;
    let value=document.getElementById('value').value;
    let AddressList=document.getElementById('AddressList').value;
    if(value.length==''||value==0)
    {
      alert("please check the value!!");
    }
    $.post('/requestToLandOwner', {land_id,value,AddressList}, (data)=>{
      console.log(data.txn);
      alert("The request is send")
      location.reload();
    })
  }
</script>
 <!-- <script>
  function buy(event){
    event.preventDefault();
let landid=document.getElementById('landid').value;
let AddressList=document.getElementById('AddressList').value;
let value1=document.getElementById('value1').value;
$.post('/buyProperty',{landid,AddressList,value1}, (data)=>{
  console.log(data.txn);
})
   }
 </script> -->
</html>